{% extends 'base.html.twig' %}

 {% form_theme Craft 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello CraftController!
{% endblock %}

{% block body %}
	<h1>Creation d'une nouvelle recette</h1>

	{{ form_start(Craft) }}
	{{ form_row(Craft.name, { 'label' : 'Name', 'attr':{'placeholder' : 'Craft Name' } }) }}
	{{ form_row(Craft.job) }}
	{{ form_row(Craft.raw1, { 'label' : 'Raw' }) }}
	{{ form_row(Craft.Qraw1)}}
	{{ form_row(Craft.raw2, { 'label' : 'Raw' }) }}
	{{ form_row(Craft.Qraw2)}}
	{{ form_row(Craft.raw3, { 'label' : 'Raw' }) }}
	{{ form_row(Craft.Qraw3)}}

	{{ form_end(Craft) }}

{% endblock %}
