{% extends 'base.html.twig' %}

 {% form_theme Craft 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello CraftController!
{% endblock %}

{% block body %}
	<h1>Creation d'une nouvelle recette</h1>

	{{ form_start(Craft) }}
	{{ form_row(Craft.name, { 'label' : 'Name', 'attr':{'placeholder' : 'Craft Name' } }) }}
	{{ form_row(Craft.job) }}
	{{ form_row(Craft.rawCrafts, {'label': ""}) }}
	

	<input type="submit" class="btn btn-sucess" value="Add">

	{{ form_end(Craft) }}

{% endblock %}
