{% extends 'base.html.twig' %}

{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}

{% block title %}Hello CraftController!
{% endblock %}

{% block body %}
	<h1>Creation d'une nouvelle recette</h1>

	<form action="" method="post">
		<ul>
			<li>craft Name :
				<input type="text" name="craftName">
			</li>
			<li>
				ingredient 1:
				<select name="raw1" id="">
                <option value=""></option>
					{% for raw in raws %}
						<option value="{{ raw.name }}">{{ raw.name }}</option>
					{% endfor %}
				</select>
				Quantité :
				<input type="text" name="qd1">
			</li>
			<li>
				ingredient 2:
				<select name="raw2" id="">
                <option value=""></option>
					{% for raw in raws %}
						<option value="{{ raw.name }}">{{ raw.name }}</option>
					{% endfor %}
				</select>
				Quantité :
				<input type="text" name="qd2">
			</li>
			<li>
				ingredient 3:
				<select name="raw3" id="">
                <option value=""></option>
					{% for raw in raws %}
						<option value="{{ raw.name }}">{{ raw.name }}</option>
					{% endfor %}
				</select>
				Quantité :
				<input type="text" name="qd3">
			</li>
		</ul>
		<button class="submit" class="btn btn-success">Add</button>
	</form>

{% endblock %}
